Abiotic
Manuscript
Raw_data
DOE_GSP_2020
Mock_community_comp
SG_leaf_endo_comm
ESA2020
QIIME2_output
SG_synthetic_comm
Shade_Phyllosphere
Fungi_Extreme_Rain
KAMSC
Rain_DNA_Extraction
USEARCHv11/Files_not_for_Publication
R_code/Old_code
R_file/Files_not_for_Publication